.items_panel{
    display:flex;
    flex-direction: column;
    flex:1;

    .content_wrapper{
        display:flex;
        flex:10;
        justify-content: center;
        align-items: center;

        .graph3d_wrapper{
            display:flex;
            flex:1;
        }
        .items_wrapper{
            display:flex;
            flex-direction: column;
            flex:3;

        }
    }
    .footer_wrapper{
        flex:1;

    }

}