/*PHONE*/
@media only screen {
  .items_panel {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .items_panel .content_wrapper {
      display: flex;
      flex: 10;
      justify-content: center;
      align-items: center; }
      .items_panel .content_wrapper .graph3d_wrapper {
        display: flex;
        flex: 1; }
      .items_panel .content_wrapper .items_wrapper {
        display: flex;
        flex-direction: column;
        flex: 3; }
    .items_panel .footer_wrapper {
      flex: 1; } }

/*TABLET*/
/*DESKTOP*/
