/*PHONE*/
@media only screen {
  .items_panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #00b5ad; }
    .items_panel .content_wrapper {
      display: flex;
      flex: 10;
      justify-content: center; }
      .items_panel .content_wrapper .graph3d_wrapper {
        background-color: #0e8c8c; }
      .items_panel .content_wrapper .items_wrapper {
        background-color: rosybrown;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
    .items_panel .footer_wrapper {
      flex: 1; } }

/*TABLET*/
/*DESKTOP*/
