@font-face {
  font-family: RobotoSlab;
  src: url("fonts/RobotoSlab-Regular.ttf"); }

body {
  font-family: RobotoSlab;
  min-height: 100%;
  background: #FFF; }

a {
  color: #333333; }

hr {
  margin: 10px 14px; }

.is-logo {
  float: left;
  margin-left: 18px; }

.logo {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
  float: left; }
  .logo:hover {
    text-decoration: none; }
  .logo i {
    margin-left: 5px;
    color: #E91D00; }

header {
  z-index: 2;
  height: 50px;
  background: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 180px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: flex-end;
  padding: 10px 30px; }
  header .searchbox-container {
    max-width: 50%; }
    header .searchbox-container .input-group {
      margin-top: 5px; }
      header .searchbox-container .input-group .form-control:focus {
        outline: none;
        box-shadow: none; }
      header .searchbox-container .input-group .input-group-btn button {
        padding-left: 20px;
        padding-right: 20px;
        background: #F8F8F8;
        border-radius: 0; }

section {
  margin: 0px 0px 10px 50px;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row; }
  section aside {
    margin: 25px 0 0 4px;
    padding: 5px;
    border-radius: 0 4px 4px 0;
    -webkit-flex: 1 1 30%;
    flex: 1 1 30%;
    order: 3;
    color: grey;
    text-align: left; }
    section aside .nav {
      margin: 0 20px; }
      section aside .nav li a {
        display: block;
        padding: 2px 10px;
        margin: 10px 0; }
        section aside .nav li a:hover {
          color: #FFFFFF;
          background: #333333; }
      section aside .nav li.separator {
        height: 1px;
        background: #E8E8E8; }
    section aside h5 {
      color: #CE1312;
      margin-left: 30px;
      text-transform: uppercase;
      font-size: 10px;
      margin-top: 20px; }
    section aside .badge {
      font-size: .8em;
      background: #BBBBBB;
      position: relative;
      top: 1px; }
    section aside #genres label {
      display: block;
      cursor: pointer;
      padding: 4px 4px 4px 8px;
      font-weight: normal;
      font-size: .9em;
      margin: 0 0 -1px; }
      section aside #genres label:hover {
        color: #FFFFFF;
        background: #333333; }
      section aside #genres label input {
        display: none; }
    section aside #genres .active label {
      border: 1px solid #CE1312;
      margin-top: -1px; }
    section aside #genres .active .badge {
      background: #333333; }
    section aside #ratings {
      margin-left: 10px; }
      section aside #ratings .ais-stars-list--link {
        font-size: .9em; }
        section aside #ratings .ais-stars-list--link:hover, section aside #ratings .ais-stars-list--link:active, section aside #ratings .ais-stars-list--link:focus {
          text-decoration: none; }
      section aside #ratings .ais-stars-list--count {
        font-size: 8px; }
      section aside #ratings .ais-star-rating--item {
        margin-bottom: 6px; }
      section aside #ratings .ais-star-rating--item__active a {
        color: #CE1312; }
  section article {
    margin: 0;
    padding: 0;
    -webkit-flex: 1 1 70%;
    flex: 1 1 70%;
    order: 2; }
    section article .top {
      margin: 0 0 0 0; }
    section article #stats {
      padding: 0 14px 60px 10px;
      font-size: .5em;
      line-height: 24px; }
    section article #hits {
      padding: 0 15px; }
    section article #pagination .pagination a {
      background: #F8F8F8;
      padding: 3px 8px;
      color: #333333;
      margin-right: 4px; }
      section article #pagination .pagination a.active {
        border-color: #b5b5b5;
        background: #E8E8E8; }
      section article #pagination .pagination a:hover {
        border-color: #cfcfcf;
        background: #ebebeb; }
    section article .hit em {
      font-style: normal;
      background: #f1ff0f;
      text-decoration: underline; }
    section article .hit .media-object {
      height: 130px;
      width: 130px;
      overflow: hidden;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
    section article .hit .media-heading {
      color: #167AC6;
      font-weight: normal;
      font-size: 18px; }
  section .thank-you {
    font-size: .8em;
    margin-top: 18px;
    margin-left: 30px; }
    section .thank-you a {
      color: #CE1312; }

.ais-search-box--input {
  padding-left: 14px; }

.ais-refinement-list--label {
  display: block;
  font-size: 0.9em; }

.genre, .year {
  margin: 12px 0; }

.year {
  font-weight: bold; }

.genre .badge {
  background: #BBBBBB; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.ais-hits--item {
  background-color: red;
  display: inline-block; }

.q-title {
  font-size: 1.3em;
  line-height: 1.4em; }

.label {
  border-radius: 7px;
  margin: 0 2px;
  font-size: 0.5em;
  height: 15px; }

.label-1 {
  background-color: #5dbb58; }

.label-2 {
  background-color: #04b3cf; }

.label-3 {
  background-color: #e8a250; }

.label-4 {
  background-color: #7a6baa; }

.label-plus {
  background-color: #8b93b3;
  color: #FFF; }

.q-lang {
  float: right;
  font-size: 0.9em;
  color: lightgrey; }

.q-preview-text {
  font-size: 0.6em;
  color: #CCC;
  line-height: 1.6em; }

.icon-right-pad {
  padding: 0 15px 0 5px; }

.timeline-center {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2'><circle cx='2' cy='2' r='2' /></svg>") no-repeat;
  background-repeat: repeat-y;
  background-position: center; }

.q-variation {
  background-color: #FAFAFA;
  padding: 5px 20px 10px 30px;
  margin: 10px 15px 0 10px;
  border-radius: 50px 50px 0px 50px;
  font-size: 0.7em;
  color: #8b93b3;
  line-height: 0.9em; }

.q-variation .title {
  font-size: 0.7em;
  font-style: italic;
  opacity: .7; }

.q-variation ul {
  padding-top: 6px; }

.dropdown {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

.dropdown li {
  border: 1px solid #FFF;
  background-color: white;
  display: block;
  float: left;
  position: relative;
  z-index: 500;
  margin: 0 1px;
  width: 100%;
  color: #0000FF; }

.dropdown li a {
  display: block;
  height: auto;
  text-decoration: none;
  text-align: left;
  color: #CCC;
  font-size: 1.1em;
  width: 100%; }

.dropdown li a:hover {
  color: #fff; }

.dropdown a.selected {
  color: red; }

.dropdown ul {
  list-style: none outside none;
  position: absolute;
  display: none;
  left: 0;
  padding: 0; }

.dropdown ul li {
  width: auto;
  float: left;
  margin: 1px 0 0; }

.dropdown ul a {
  display: block;
  height: auto;
  color: #000;
  padding: 8px 5px;
  border: 1px dotted #666;
  font-size: 1em; }

.dropdown ul a:hover {
  text-decoration: none; }

.dropdown li:hover {
  background: #000; }

.responsive-svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden; }
