@font-face {
  font-family: OpenSans;
  src: url(fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: OpenSansCondensed;
  src: url(fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.fw-a {
  font-weight: 200; }

.fw-b {
  font-weight: 400; }

.fw-c {
  font-weight: 700; }

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left top, #F5F5F5, #FFFFFF);
  background: -moz-linear-gradient(to left top, #F5F5F5, #FFFFFF);
  background: -ms-linear-gradient(to left top, #F5F5F5, #FFFFFF);
  background: -o-linear-gradient(to left top, #F5F5F5, #FFFFFF);
  background: linear-gradient(to left top, #F5F5F5, #FFFFFF); }

body {
  font-family: 'OpenSans','helvetica',sans-serif;
  background-color: transparent !important; }

.mainFont {
  font-family: 'OpenSans','helvetica',sans-serif; }

a {
  color: #333333; }

hr {
  margin: 10px 14px; }

.is-logo {
  float: left;
  margin-left: 18px; }

.logo {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
  float: left; }
  .logo:hover {
    text-decoration: none; }
  .logo i {
    margin-left: 5px;
    color: #E91D00; }

header {
  z-index: 2;
  height: 50px;
  background: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 180px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: flex-end;
  padding: 10px 30px; }
  header .searchbox-container {
    max-width: 50%; }
    header .searchbox-container .input-group {
      margin-top: 5px; }
      header .searchbox-container .input-group .form-control:focus {
        outline: none;
        box-shadow: none; }
      header .searchbox-container .input-group .input-group-btn button {
        padding-left: 20px;
        padding-right: 20px;
        background: #F8F8F8;
        border-radius: 0; }

.navbar-header {
  color: #000 !important;
  font-size: 1.7em;
  padding: 20px; }

.version {
  font-size: 1.2rem;
  font-style: italic;
  color: #ccc; }

.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important; }

.main-title {
  max-width: 300px; }

.partners {
  max-width: 300px; }

.company {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #CCCCCC;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.company-name {
  font-size: 0.6em;
  color: #9e9e9e;
  text-align: center;
  min-width: 100%;
  padding: 5px 0 0 0; }

.hits-box {
  background-color: #F5F5F5;
  border-width: 0 0 0 4px;
  border-color: #3a7ea2;
  border-style: solid;
  border-radius: 0 10px 10px 0;
  padding: 20px 20px 100px 20px;
  margin-right: 20px; }

.hits-box h1 {
  font-size: 2em;
  font-weight: 300;
  color: #2e6da4; }

.hits-box h5 {
  font-size: 0.8em;
  font-color: #ccc;
  font-style: italic;
  font-weight: 300; }

.ais-search-box--input {
  padding-left: 14px; }

.ais-refinement-list--label {
  display: block;
  font-size: 0.9em; }

.genre, .year {
  margin: 12px 0; }

.year {
  font-weight: bold; }

.genre .badge {
  background: #BBBBBB; }

.sidenav {
  height: 70%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 20px 0 0 20px; }

.sidenav a {
  padding: 6px 8px 8px 32px;
  text-decoration: none;
  font-size: 12px;
  color: #FFF;
  display: block;
  transition: 0.3s; }

.sidenav a:hover, .offcanvas a:focus {
  color: #000; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.ais-hits--item {
  display: inline-block;
  border-radius: 5px;
  padding: 5px; }

.q-title {
  font-size: 1.3em;
  line-height: 1.4em; }

.label {
  border-radius: 7px;
  margin: 0 2px;
  font-size: 0.5em;
  height: 15px; }

.label-1 {
  background-color: #5dbb58; }

.label-2 {
  background-color: #04b3cf; }

.label-3 {
  background-color: #e8a250; }

.label-4 {
  background-color: #7a6baa; }

.label-plus {
  background-color: #8b93b3;
  color: #FFF; }

.q-lang {
  float: right;
  font-size: 0.9em;
  color: lightgrey; }

.q-preview-text {
  font-size: 0.6em;
  color: #CCC;
  line-height: 1.6em; }

.icon-right-pad {
  padding: 0 15px 0 5px; }

.timeline-center {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2'><circle cx='2' cy='2' r='2' /></svg>") no-repeat;
  background-repeat: repeat-y;
  background-position: center; }

.q-variation {
  background-color: #FAFAFA;
  padding: 5px 20px 10px 30px;
  margin: 10px 15px 0 10px;
  border-radius: 50px 50px 0 50px;
  font-size: 0.7em;
  color: #8b93b3;
  line-height: 0.9em; }

.q-variation .title {
  font-size: 0.7em;
  font-style: italic;
  opacity: .7; }

.q-variation ul {
  padding-top: 6px; }

.dropdown {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

.dropdown li {
  border: 1px solid #FFF;
  background-color: white;
  display: block;
  float: left;
  position: relative;
  z-index: 500;
  margin: 0 1px;
  width: 100%;
  color: #0000FF; }

.dropdown li a {
  display: block;
  height: auto;
  text-decoration: none;
  text-align: left;
  color: #CCC;
  font-size: 1.1em;
  width: 100%; }

.dropdown li a:hover {
  color: #fff; }

.dropdown a.selected {
  color: red; }

.dropdown ul {
  list-style: none outside none;
  position: absolute;
  display: none;
  left: 0;
  padding: 0; }

.dropdown ul li {
  width: auto;
  float: left;
  margin: 1px 0 0; }

.dropdown ul a {
  display: block;
  height: auto;
  color: #000;
  padding: 8px 5px;
  border: 1px dotted #666;
  font-size: 1em; }

.dropdown ul a:hover {
  text-decoration: none; }

.dropdown li:hover {
  background: #000; }

.responsive-svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden; }
