.iconator{
  display: inline-block;
  .icon_medium, .icon_small, .icon_large {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
  }
  .icon_medium {
    width: 50px;
    height: 50px;
  }

  .icon_small {
    width: 20px;
    height: 20px;
  }

  .icon_apis {
    background-image: url(./icons/ico_apis.png);
  }
  .icon_data {
    background-image: url(./icons/ico_data.png);
  }
  .icon_deve {
    background-image: url(./icons/ico_deve.png);
  }
  .icon_infr {
    background-image: url(./icons/ico_infr.png);
  }
  .icon_obse {
    background-image: url(./icons/ico_obse.png);
  }
  .icon_orch {
    background-image: url(./icons/ico_orch.png);
  }
  .icon_plat {
    background-image: url(./icons/ico_plat.png);
  }
  .icon_prov {
    background-image: url(./icons/ico_prov.png);
  }
  .icon_runt {
    background-image: url(./icons/ico_runt.png);
  }

  .icon_background{
    //width:60px; padding-right:15px;
    position: fixed;
    min-width: 600px;
    height:600px;
    left: -300px;
    top: 15%;
    opacity: 0.05;
    background-size: 600px 600px;

  }


}
