html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.wrapper {
  width: 80%;
  margin: 0 10%; }

/* Make the body 100% of the browser viewport height */
html, body {
  height: 100%;
  margin: 0; }

h1 {
  font-size: 2em;
  margin-top: 0;
  font-family: 'share', Helvetica, Helvetica Neue, Arial, sans-serif;
  font-weight: 700; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* =Preloader */
#preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: #212121;
  color: #ffffff; }
  #preloader .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #preloader .txt-perc {
    font-size: 35px;
    font-family: 'Roboto Condensed', Helvetica, Helvetica Neue, Arial, sans-serif;
    opacity: 1;
    margin: 0 0 6px 0;
    max-width: 400px;
    text-align: center; }
  #preloader .progress {
    width: 100px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto 15px auto; }
    #preloader .progress span {
      display: block;
      width: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8); }
  #preloader.is-hidden {
    visibility: hidden;
    opacity: 0; }

.is-loading {
  overflow: hidden; }

/* =Header */
.header-container {
  text-align: center;
  color: #ffffff; }
  .header-container .wrapper {
    padding-top: 120px;
    z-index: 2;
    position: relative; }
  .header-container .bcg {
    transition: transform 4s ease-out;
    transform: scale(1.05);
    transform-origin: top center; }
  .header-container.is-loaded .bcg {
    transform: scale(1); }

.bcg {
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5; }
  .header-container .bcg {
    background-size: cover; }
  #slide01 .bcg {
    background-size: cover; }
  #slide02 .bcg {
    background-size: cover; }

.bcg2 {
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover; }

/* =Navigation */
nav {
  display: none;
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  z-index: 100; }
  nav a {
    display: block;
    line-height: 25px;
    position: relative;
    padding-right: 20px;
    color: #ffffff;
    text-decoration: none; }
    nav a:hover .nav-label {
      transform: translateX(0);
      opacity: 1;
      visibility: visible; }
  nav .nav-dot {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    transform: translateY(-50%);
    transition: all 0.3s linear; }
  nav .nav-label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    transform: translateX(-10px);
    transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  nav.is-dark a {
    color: #212121; }
  nav.is-dark .nav-dot {
    background-color: rgba(0, 0, 0, 0.5); }
  nav.is-light a {
    color: #ffffff; }
  nav.is-light .nav-dot {
    background-color: rgba(255, 255, 255, 0.5); }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    width: auto;
    list-style: none; }

.scroll-hint {
  color: #ffffff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 40px;
  border: 1px #ffffff solid;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Roboto Condensed', Helvetica, Helvetica Neue, Arial, sans-serif;
  z-index: 2; }

/* =Main */
p {
  font-size: 16px; }

.fs {
  height: 100vh; }

.slide {
  color: #ffffff;
  position: relative; }
  .slide .wrapper {
    padding-top: 30px;
    text-align: center;
    position: relative;
    z-index: 2; }
  .slide#slide01 .wrapper {
    position: absolute;
    top: 10%; }
  .slide#slide02 .wrapper {
    position: absolute;
    bottom: 10%; }
  .slide#slide03 .button {
    border-color: #ffffff;
    color: #212121;
    background-color: rgba(255, 255, 255, 0.9); }
    .slide#slide03 .button:hover {
      border-color: #212121;
      background-color: #212121;
      color: #ffffff; }
  .slide#slide03 .wrapper {
    padding-top: 100px; }
  .slide#slide04 {
    background-color: #be4c2c; }

.button {
  text-decoration: none;
  color: #ffffff;
  border: 1px rgba(255, 255, 255, 0.7) solid;
  padding: 8px 15px;
  margin-top: 15px;
  display: inline-block;
  position: relative; }
  .button:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000; }

/* =Content Block */
.content-block {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.9); }
  .content-block .wrapper {
    padding: 30px 0;
    text-align: center; }
  .no-touch .content-block .wrapper {
    visibility: hidden;
    opacity: 0; }
  .no-touch .content-block.is-active .wrapper {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

/* =Footer */
.footer-container {
  text-align: center;
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.5);
  background-color: #06060d;
  padding: 50px; }
  .footer-container h3 {
    margin: 0;
    padding: 20px 0;
    font-weight: normal; }
  .footer-container a {
    color: rgba(255, 255, 255, 0.8); }

/* =Footer */
.footer2 {
  text-align: center;
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(33, 33, 33, 0.5);
  padding: 5px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  opacity: 0; }
  .footer2 h3 {
    margin: 0;
    padding: 20px 0;
    font-weight: normal; }
  .footer2 a {
    color: rgba(255, 255, 255, 0.8); }

/* =Simple animation up */
.no-touch .slideInUp {
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-out;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0); }

.no-touch .is-active .slideInUp {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slideInUp.slideInUp2 {
  transition-delay: 0.2s; }

.slideInUp.slideInUp3 {
  transition-delay: 0.4s; }

#iht_logo {
  width: 100px;
  margin-bottom: 30px; }

/* =SideBar */
#sidebarTrigger {
  position: fixed;
  right: 0;
  top: 0; }

/* =Infographic */
.border {
  border: 1px dotted red; }

.outfocus {
  -webkit-animation: blur 2s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
  animation: blur 2s;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  /* Safari 4.0 - 8.0 */
  animation-timing-function: ease-out; }

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(0px); }
  to {
    -webkit-filter: blur(20px); } }

@keyframes blur {
  from {
    filter: blur(0px); }
  to {
    filter: blur(20px); } }

#companyModals {
  position: fixed;
  top: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 60;
  display: none; }

.modal-container {
  position: fixed;
  top: 0;
  left: 0; }

.yesvisible {
  display: block !important; }

.infog01 .logobox {
  width: 100%;
  display: flex;
  margin-top: 100px; }

.infog01 .diagram-container {
  position: relative;
  width: 90%;
  height: 40%; }

.infog01 .image-diagram.active {
  filter: blur(0px);
  opacity: 1 !important;
  z-index: 500;
  display: block; }

.infog01 .image-diagram {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  position: absolute;
  filter: blur(2px);
  opacity: 0.4;
  z-index: 1; }

.infog01 .menu-container {
  background-color: rgba(242, 104, 255, 0.4);
  position: absolute;
  bottom: 0px; }
  .infog01 .menu-container a {
    display: block; }

.infog01 .stillbox {
  display: table; }
  .infog01 .stillbox h1 {
    font-weight: 100;
    color: #55acee;
    font-size: 2.2em; }
  .infog01 .stillbox .categ {
    color: #959595;
    font-weight: 600;
    font-size: 0.9em; }
  .infog01 .stillbox .categ-big {
    font-size: 1.6em;
    padding-top: 40px;
    color: black;
    font-weight: 600;
    line-height: 1em; }
  .infog01 .stillbox .categ-brief {
    color: black;
    font-size: 0.8em;
    border: 1px solid #CCC;
    border-width: 0 0 1px 0;
    margin-left: 30px;
    width: 400px;
    padding: 0 0 20px 0; }
  .infog01 .stillbox .categ-color1a {
    color: #17aaad;
    border-color: #17aaad;
    padding: 15px 0px; }
  .infog01 .stillbox .categ-color1b {
    color: #17aaad;
    border-color: #17aaad;
    padding: 15px 0px; }
  .infog01 .stillbox .categ-color1c {
    color: #17aaad;
    border-color: #17aaad;
    padding: 15px 0px; }
  .infog01 .stillbox .categ-color2 {
    color: #635b89;
    border-color: #635b89;
    padding: 15px 0px; }
  .infog01 .stillbox .categ-color3 {
    color: #688ca5;
    border-color: #688ca5;
    padding: 15px 0px; }
  .infog01 .stillbox .categ-color4 {
    color: #1b86c8;
    border-color: #1b86c8;
    padding: 15px 0px; }
  .infog01 .stillbox .categ-color5 {
    color: #478466;
    border-color: #478466;
    padding: 15px 0px; }
  .infog01 .stillbox .categ-color6 {
    color: #6c9a40;
    border-color: #6c9a40;
    padding: 15px 0px; }
  .infog01 .stillbox .categ-color7 {
    color: #3e56a6;
    border-color: #3e56a6;
    padding: 15px 0px; }
  .infog01 .stillbox .subcateg {
    font-weight: 800;
    line-height: 0.6em;
    font-size: 1em;
    padding-left: 40px; }

.infog01 .image1 {
  width: 70%;
  height: 70%;
  top: 0;
  left: 20%; }

.infog01 .image1b {
  width: 70%;
  height: 70%;
  top: 0;
  left: 20%; }

.infog01 .image2 {
  width: 70%;
  height: 70%;
  top: 0;
  left: 20%; }

.infog01 .image2b {
  width: 70%;
  height: 70%;
  top: 0;
  left: 20%; }

.infog01 .image3 {
  width: 70%;
  height: 70%;
  top: 0;
  left: 20%; }

.infog01 .image3b {
  width: 70%;
  height: 70%;
  top: 0;
  left: 20%; }

.infog01 .image4 {
  top: 30%;
  left: 60%;
  width: 24%;
  height: 100%; }

.infog01 .image4b {
  top: 30%;
  left: 60%;
  width: 24%;
  height: 100%; }

.infog01 .image5 {
  top: 30%;
  left: 70%;
  width: 24%;
  height: 100%; }

.infog01 .image5b {
  top: 30%;
  left: 70%;
  width: 24%;
  height: 100%; }

.infog01 .image6 {
  top: 30%;
  left: 20%;
  width: 70%;
  height: 70%; }

.infog01 .image6b {
  top: 30%;
  left: 20%;
  width: 70%;
  height: 70%; }

.infog01 .image7 {
  top: 60%;
  left: 20%;
  width: 70%;
  height: 70%; }

.infog01 .image7b {
  top: 60%;
  left: 20%;
  width: 70%;
  height: 70%; }

.infog01 .image8 {
  top: 80%;
  left: 20%;
  width: 70%;
  height: 70%; }

.infog01 .image8b {
  top: 80%;
  left: 20%;
  width: 70%;
  height: 70%; }

.infog01 .image9 {
  top: 100%;
  left: 20%;
  width: 70%;
  height: 70%; }

.infog01 .image9b {
  top: 100%;
  left: 20%;
  width: 70%;
  height: 70%; }

.infog01 .box-2 {
  text-align: left; }
  .infog01 .box-2 .item {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 5px 0 5px;
    text-align: center;
    vertical-align: top; }
  .infog01 .box-2 .box-items {
    border-width: 0 0 0 2px;
    border-style: solid;
    margin-right: 5px;
    width: 75%;
    padding: 20px;
    margin-left: 30px; }
  .infog01 .box-2 h2 {
    color: black;
    font-size: 1.6em;
    font-weight: 100;
    padding-bottom: 10px;
    margin-left: 30px; }
  .infog01 .box-2 h4 {
    font-weight: 400;
    margin: 0 0 10px 0; }
  .infog01 .box-2 .cat-icon {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .infog01 .box-2 .company {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(71, 71, 71, 0.42);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .infog01 .box-2 .company-name {
    font-size: 0.6em;
    color: #454545;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    max-width: 50px;
    line-height: 1em;
    padding: 0 0 2px 0;
    margin-top: 0px;
    vertical-align: top; }

.infog01 .box-3 {
  text-align: left; }
  .infog01 .box-3 .categories {
    font-size: 1.1em; }
    .infog01 .box-3 .categories .cat-name-1 {
      position: relative;
      top: 0px;
      right: 0;
      opacity: 0.9;
      font-weight: 400;
      padding: 1px 10px;
      background-color: white;
      margin: 12px 0;
      color: #17aaad;
      border-radius: 4px 3px 3px 4px;
      border: 1px solid #17aaad;
      border-width: 0px 0px 0px 10px; }
    .infog01 .box-3 .categories .cat-name-2 {
      position: relative;
      top: 0px;
      right: 0;
      opacity: 0.9;
      font-weight: 400;
      padding: 1px 10px;
      background-color: white;
      margin: 12px 0;
      color: #635b89;
      border-radius: 4px 3px 3px 4px;
      border: 1px solid #635b89;
      border-width: 0px 0px 0px 10px; }
    .infog01 .box-3 .categories .cat-name-3 {
      position: relative;
      top: 0px;
      right: 0;
      opacity: 0.9;
      font-weight: 400;
      padding: 1px 10px;
      background-color: white;
      margin: 12px 0;
      color: #688ca5;
      border-radius: 4px 3px 3px 4px;
      border: 1px solid #688ca5;
      border-width: 0px 0px 0px 10px; }
    .infog01 .box-3 .categories .cat-name-4 {
      position: relative;
      top: 0px;
      right: 0;
      opacity: 0.9;
      font-weight: 400;
      padding: 1px 10px;
      background-color: white;
      margin: 12px 0;
      color: #1b86c8;
      border-radius: 4px 3px 3px 4px;
      border: 1px solid #1b86c8;
      border-width: 0px 0px 0px 10px; }
    .infog01 .box-3 .categories .cat-name-5 {
      position: relative;
      top: 0px;
      right: 0;
      opacity: 0.9;
      font-weight: 400;
      padding: 1px 10px;
      background-color: white;
      margin: 12px 0;
      color: #478466;
      border-radius: 4px 3px 3px 4px;
      border: 1px solid #478466;
      border-width: 0px 0px 0px 10px; }
    .infog01 .box-3 .categories .cat-name-6 {
      position: relative;
      top: 0px;
      right: 0;
      opacity: 0.9;
      font-weight: 400;
      padding: 1px 10px;
      background-color: white;
      margin: 12px 0;
      color: #6c9a40;
      border-radius: 4px 3px 3px 4px;
      border: 1px solid #6c9a40;
      border-width: 0px 0px 0px 10px; }
    .infog01 .box-3 .categories .cat-name-7 {
      position: relative;
      top: 0px;
      right: 0;
      opacity: 0.9;
      font-weight: 400;
      padding: 1px 10px;
      background-color: white;
      margin: 12px 0;
      color: #3e56a6;
      border-radius: 4px 3px 3px 4px;
      border: 1px solid #3e56a6;
      border-width: 0px 0px 0px 10px; }

.infog01 .category-box-1a {
  border-color: #17aaad;
  border-width: 0 0 0 0;
  border-style: solid;
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.infog01 .subcategory-1a {
  color: #17aaad;
  font-size: 0.6em;
  border: 1px solid #ddd;
  border-color: #17aaad;
  padding: 2px 7px;
  border-radius: 4px; }

.infog01 .category-box-1b {
  border-color: #17aaad;
  border-width: 0 0 0 0;
  border-style: solid;
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.infog01 .subcategory-1b {
  color: #17aaad;
  font-size: 0.6em;
  border: 1px solid #ddd;
  border-color: #17aaad;
  padding: 2px 7px;
  border-radius: 4px; }

.infog01 .category-box-1c {
  border-color: #17aaad;
  border-width: 0 0 0 0;
  border-style: solid;
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.infog01 .subcategory-1c {
  color: #17aaad;
  font-size: 0.6em;
  border: 1px solid #ddd;
  border-color: #17aaad;
  padding: 2px 7px;
  border-radius: 4px; }

.infog01 .category-box-4 {
  border-color: #1b86c8;
  border-width: 0 0 0 0;
  border-style: solid;
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.infog01 .subcategory-4 {
  color: #1b86c8;
  font-size: 0.6em;
  border: 1px solid #ddd;
  border-color: #1b86c8;
  padding: 2px 7px;
  border-radius: 4px; }

.infog01 .category-box-2 {
  border-color: #635b89;
  border-width: 0 0 0 0;
  border-style: solid;
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.infog01 .subcategory-2 {
  color: #635b89;
  font-size: 0.6em;
  border: 1px solid #ddd;
  border-color: #635b89;
  padding: 2px 7px;
  border-radius: 4px; }

.infog01 .category-box-3 {
  border-color: #688ca5;
  border-width: 0 0 0 0;
  border-style: solid;
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.infog01 .subcategory-3 {
  color: #688ca5;
  font-size: 0.6em;
  border: 1px solid #ddd;
  border-color: #688ca5;
  padding: 2px 7px;
  border-radius: 4px; }

.infog01 .category-box-5 {
  border-color: #478466;
  border-width: 0 0 0 0;
  border-style: solid;
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.infog01 .subcategory-5 {
  color: #478466;
  font-size: 0.6em;
  border: 1px solid #ddd;
  border-color: #478466;
  padding: 2px 7px;
  border-radius: 4px; }

.infog01 .category-box-6 {
  border-color: #6c9a40;
  border-width: 0 0 0 0;
  border-style: solid;
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.infog01 .subcategory-6 {
  color: #6c9a40;
  font-size: 0.6em;
  border: 1px solid #ddd;
  border-color: #6c9a40;
  padding: 2px 7px;
  border-radius: 4px; }

.infog01 .category-box-7 {
  border-color: #3e56a6;
  border-width: 0 0 0 0;
  border-style: solid;
  height: 100%;
  width: 500px;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.infog01 .subcategory-7 {
  color: #3e56a6;
  font-size: 0.6em;
  border: 1px solid #ddd;
  border-color: #3e56a6;
  padding: 2px 7px;
  border-radius: 4px; }

.infog01 .category-line-1a {
  background-color: #17aaad;
  top: 100px;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -20px; }

.infog01 .category-line-1b {
  background-color: #17aaad;
  top: 100px;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -20px; }

.infog01 .category-line-1c {
  background-color: #17aaad;
  top: 100px;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -20px; }

.infog01 .category-line-2 {
  background-color: #635b89;
  top: 100px;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -20px; }

.infog01 .category-line-3 {
  background-color: #688ca5;
  top: 100px;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -20px; }

.infog01 .category-line-4 {
  background-color: #1b86c8;
  top: 100px;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -20px; }

.infog01 .category-line-5 {
  background-color: #478466;
  top: 100px;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -20px; }

.infog01 .category-line-6 {
  background-color: #6c9a40;
  top: 100px;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -20px; }

.infog01 .category-line-7 {
  background-color: #3e56a6;
  top: 100px;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -20px; }

.infog01 .pointer-1a:after {
  content: " ";
  display: block;
  background: #17aaad;
  height: 7px;
  width: 7px;
  border-radius: 20px;
  position: absolute;
  top: -2px; }

.infog01 .pointer-1b:after {
  content: " ";
  display: block;
  background: #17aaad;
  height: 7px;
  width: 7px;
  border-radius: 20px;
  position: absolute;
  top: -2px; }

.infog01 .pointer-1c:after {
  content: " ";
  display: block;
  background: #17aaad;
  height: 7px;
  width: 7px;
  border-radius: 20px;
  position: absolute;
  top: -2px; }

.infog01 .pointer-2:after {
  content: " ";
  display: block;
  background: #635b89;
  height: 7px;
  width: 7px;
  border-radius: 20px;
  position: absolute;
  top: -2px; }

.infog01 .pointer-3:after {
  content: " ";
  display: block;
  background: #688ca5;
  height: 7px;
  width: 7px;
  border-radius: 20px;
  position: absolute;
  top: -2px; }

.infog01 .pointer-4:after {
  content: " ";
  display: block;
  background: #1b86c8;
  height: 7px;
  width: 7px;
  border-radius: 20px;
  position: absolute;
  top: -2px; }

.infog01 .pointer-5:after {
  content: " ";
  display: block;
  background: #478466;
  height: 7px;
  width: 7px;
  border-radius: 20px;
  position: absolute;
  top: -2px; }

.infog01 .pointer-6:after {
  content: " ";
  display: block;
  background: #6c9a40;
  height: 7px;
  width: 7px;
  border-radius: 20px;
  position: absolute;
  top: -2px; }

.infog01 .pointer-7:after {
  content: " ";
  display: block;
  background: #3e56a6;
  height: 7px;
  width: 7px;
  border-radius: 20px;
  position: absolute;
  top: -2px; }

.infog01 .title {
  font-size: 1em;
  padding-top: 20px;
  color: #666 !important; }

.infog01 .navbar-header {
  color: #7ba6c6 !important;
  font-size: 1em;
  padding: 20px;
  text-align: left; }

.infog01 .fw-a {
  font-weight: 200; }

.infog01 .fw-b {
  font-weight: 400; }

.infog01 .fw-c {
  font-weight: 700; }

.infog01 .itag {
  font-size: 0.7em;
  display: "block";
  position: "absolute";
  left: "20%";
  text-shadow: -1px -1px 1px #FFF;
  font-weight: 600; }

.infog01 .tag-1a {
  color: #117e80; }

.infog01 .tag-2a {
  color: #37324c;
  line-height: 1em; }

.infog01 .tag-3a {
  color: #517289; }

.infog01 .tag-4a {
  color: #15689b; }

.infog01 .tag-5a {
  color: #35634c; }

.infog01 .tag-6a {
  color: #537631; }

.infog01 .tag-7a {
  color: #304381; }

.infog01 .cn-partners {
  opacity: 0.9;
  right: 50px;
  top: 20px;
  width: 400px;
  position: fixed; }

.ico-data {
  background-image: url("../../components/assets/images/icons/ico_data.png"); }

.ico-deve {
  background-image: url("../../components/assets/images/icons/ico_deve.png"); }

.ico-infr {
  background-image: url("../../components/assets/images/icons/ico_infr.png"); }

.ico-obse {
  background-image: url("../../components/assets/images/icons/ico_obse.png"); }

.ico-plat {
  background-image: url("../../components/assets/images/icons/ico_plat.png"); }

.ico-prov {
  background-image: url("../../components/assets/images/icons/ico_prov.png"); }

.ico-runt {
  background-image: url("../../components/assets/images/icons/ico_runt.png"); }

.ico-apis {
  background-image: url("../../components/assets/images/icons/ico_apis.png"); }

.ico-orch {
  background-image: url("../../components/assets/images/icons/ico_orch.png"); }

.ico-medium {
  position: fixed;
  min-width: 600px;
  height: 600px;
  padding-right: 15px;
  left: -300px;
  opacity: 0.1; }

.ico-small {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  margin: 0 10px -10px 0; }

.cloud-menu {
  text-align: left;
  font-size: 0.8em;
  line-height: 0.5em !important;
  color: blue;
  width: 250px; }
  .cloud-menu .item {
    margin-left: 1em; }
    .cloud-menu .item a {
      color: black; }
    .cloud-menu .item a:hover {
      color: #666 !important;
      text-decoration: none; }
    .cloud-menu .item .item {
      margin-left: 2em;
      font-size: 0.9em;
      line-height: 3em;
      display: none; }
      .cloud-menu .item .item a {
        color: grey; }
  .cloud-menu .item.active a {
    font-weight: 800;
    color: #000; }
  .cloud-menu .item.active .item {
    display: block; }
    .cloud-menu .item.active .item a {
      font-weight: 100;
      color: #8d8d8d; }
  .cloud-menu .item.active .item.active {
    color: yellow;
    margin-left: 2em;
    display: block; }
    .cloud-menu .item.active .item.active a {
      font-weight: 800; }

.contactus {
  display: flex;
  align-items: flex-center;
  padding: 15px 0;
  font-size: 1em; }
  .contactus i {
    padding-right: 20px;
    height: 40px; }
  .contactus a {
    padding: 0 30px 0 0;
    color: #8cd2ff; }

.back-btn {
  color: grey;
  font-size: 0.8em; }

.menu-icon {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s linear;
  color: red; }

.c-tooltip {
  position: relative;
  display: inline-block; }

.item-modal p {
  font-size: 1em; }

.item-modal .close {
  color: black !important; }

.item-modal .header {
  text-align: left !important;
  color: black !important;
  font-size: 0.9em !important; }
  .item-modal .header span {
    font-weight: 200; }

.item-modal .content {
  display: flex !important;
  flex-direction: row !important;
  color: black !important; }
  .item-modal .content i {
    color: black; }

.item-modal .item-image {
  min-width: 200px;
  height: 200px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(71, 71, 71, 0.42);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

#companyModals .c-tooltiptext {
  opacity: 0.1;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  border-radius: 10px 40px 0 20px;
  padding: 10px 10px;
  box-shadow: 2px 1px 5px #CCC;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  margin-left: -400px; }
  #companyModals .c-tooltiptext h4 {
    font-size: 1.2em;
    font-weight: 800; }
  #companyModals .c-tooltiptext p {
    font-size: 0.7em;
    font-weight: 300; }
  #companyModals .c-tooltiptext .companyLogo {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    float: left; }
  #companyModals .c-tooltiptext .content {
    display: inline-block;
    width: 300px;
    color: white;
    text-align: left;
    padding: 5px; }
  #companyModals .c-tooltiptext .fa {
    padding-left: 12px; }
  #companyModals .c-tooltiptext .right {
    float: right; }
  #companyModals .c-tooltiptext .left {
    float: left; }

.c-tooltip:click .c-tooltiptext {
  visibility: visible; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 768px) {
  body {
    font-weight: 100; }
  h1 {
    font-size: 3em; }
  p {
    font-size: 20px; }
  /* =Header */
  .header-container {
    overflow: hidden;
    position: relative; }
    .header-container .wrapper {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -120%);
      margin: 0;
      padding: 0; }
    .header-container:before {
      font-size: 70em; }
  .scroll-hint {
    font-size: 20px; }
  .bcg {
    opacity: 1; }
  .slide {
    overflow: hidden;
    overflow-x: hidden; }
    .slide section {
      max-width: 400px; }
    .slide .wrapper {
      padding-top: 0px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: left;
      width: 100%;
      margin: 0; }
    .slide#slide01, .slide#slide02, .slide#slide03 {
      color: #212121; }
      .slide#slide01 .wrapper, .slide#slide02 .wrapper, .slide#slide03 .wrapper {
        top: 20%;
        text-align: center; }
      .slide#slide01 section, .slide#slide02 section, .slide#slide03 section {
        margin: 0 auto; }
    .slide#slide02 {
      color: #ffffff; }
      .slide#slide02 .wrapper {
        top: auto;
        bottom: 40%;
        left: 10%;
        text-align: left;
        transform: translate(0);
        padding: 0; }
      .slide#slide02 section {
        margin: 0; }
    .slide#slide03 .wrapper {
      padding: 0;
      top: 15%;
      transform: translate(-50%, 0); }
    .slide#slide03 section {
      margin: 0 auto;
      max-width: 570px; }
    .slide#slide03 .button {
      border-color: rgba(0, 0, 0, 0.7);
      background-color: transparent;
      color: #212121; }
    .slide#slide03 .bcg {
      opacity: 1; }
  nav {
    display: block; }
  .content-block .wrapper {
    padding: 120px 0; } }

@media only screen and (max-width: 1000px) {
  .cloud-menu {
    display: none; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
