
#root{
  display:flex;
  height:100%;
}

.layout{
  display:flex;
  flex-direction: row;
  flex:1;

}

.layout_wrapper{
  display:flex;
  flex-direction: column;
  flex:1;
}
.header_wrapper{

  .filter_toggle{
    transform: rotate(-90deg);
    color: grey;
    background-color: #f1f1f1;
    height: 50px;
    position: fixed;
    z-index: 100;
    right: -50px;
    top: 150px;
    padding: 0 10px 0 60px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;

    i{
      float:right;
      padding:0 0 0 10px;
    }
    &.hidden{
      display:none;
    }
    &:hover{
      background-color: #e0e0e0;
    }
  }

}

.content_wrapper {
  display: flex;
  flex: 9;
  align-items: center;
  margin-top:-100px;

  .graph_wrapper{
    flex:2;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display:inline-block;
    margin:0 10px -10px 0;
    max-width: 250px;
    background-image: url('../../components/assets/images/placeholder/exports/se.jpg');

    &.cat_0{
      background-image: url('../../components/assets/images/placeholder/exports/se_0.jpg') !important;
    }
    &.cat_1{
      background-image: url('../../components/assets/images/placeholder/exports/se_1.jpg') !important;
    }
    &.cat_2{
      background-image: url('../../components/assets/images/placeholder/exports/se_2.jpg') !important;
    }
    &.cat_3{
      background-image: url('../../components/assets/images/placeholder/exports/se_3.jpg') !important;
    }
    &.cat_4{
      background-image: url('../../components/assets/images/placeholder/exports/se_4.jpg') !important;
    }
    &.cat_5{
      background-image: url('../../components/assets/images/placeholder/exports/se_5.jpg') !important;
    }
    &.cat_6{
      background-image: url('../../components/assets/images/placeholder/exports/se_6.jpg');
    }

  }

  .panel_wrapper {

    display:flex;
    flex:5;
    max-height:80% ;
    min-height: 50%;
    position: relative !important;
    padding: 10px 10px 0 0;
    margin-top:-100px;

    .card{
      border: 0 !important;
      padding: 35px !important;
      box-shadow: none !important;
    }
    .header{
      font-weight: 100 !important;
      color:#666 !important;

    }
    .module{
      width:100%;
    }

  }

  .filter_wrapper{
    flex:1;
    background-color: white;
    border:1px solid #e6e6e6;
    border-radius:6px 0 0 6px;
    padding:20px;
    //width:300px;

    &.hidden{
      display:none;
    }
  }

  //TOGGLES

  $toggle_size :'1.5';

  .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    width: 1.5rem;
    height: 0.8rem;
    background: rgba(0,0,0,.1);
  }
  .ui.toggle.checkbox input:checked~.box:after, .ui.toggle.checkbox input:checked~label:after {
    left: 0.75rem;
  }
  .ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
    width: 0.75rem;
    height: 0.75rem;
  }


  .ui.toggle.checkbox label {
    min-height: 1.5rem;
    padding-left: 2.5rem;
    font-size: 0.8em;
  }


}

.sidebar_wrapper {
  position: absolute;
  left: 0;
  overflow: hidden;
  min-height: 100%;
  width: 230px;
  -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
  transition: transform .3s ease-in-out, width .3s ease-in-out;
  height: 100%;
  z-index:10;
  display: flex;
  align-items: center;

  i {
    line-height: 2;
    margin-right: 10px !important;
  }

  .logo {
    color: #BDBEBF;
    height: 70px;
    //background:#FFF url("") no-repeat;
    background-position-x: 35%;
    background-position-y: 50%;
    background-size: 120px;
    padding-top: 10px;
    border-style:solid;
    border-bottom-color:rgba(34,36,38,.15);
    border-left-color: #bfcfda;
    border-width: 0 0 0 7px;


    &:hover {
      height: 70px;
    }

  }

  .sidebar {
    margin-top: -100px;

    a {
      color: #49627b;
      font-size: 0.9em;
      cursor: pointer;
    }

    a:hover {
      text-decoration: none
    }

    .content{
      font-size:0.8em;
      opacity:0.8;
    }
  }

  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li:hover > a, > li.active > a {
      color: #000;
      border-left-color: #aeaeae;

    }

    & > li.header {
      color: #ccc;
    }

    & > li {
      position: relative;
      margin: 0;
      padding: 0 0 0 0;

      .label,
      .badge {
        margin-right: 5px;
      }
      .badge {
        margin-top: 3px;
      }

      & > .treeview-menu {
        margin: 0 1px;
        line-height:1em;
      }
      & > a {
        border-left: 4px solid #d8d8d8;
        padding: 5px 5px 5px 15px;
        display: flex;
        font-size: 0.9em;
        justify-content: space-between;
        align-items: center;

        &:hover{
          border-left-color: #c2c2c2;
        }

        & > div{
          display: flex;
          flex: 1;
          span{
            padding-left:10px;
          }
        }

        & > .fa, > li > a > .glyphicon, > li > a > .ion {
          text-align: center;
        }

        & > .fa,
        & > .glyphicon,
        & > .ion {
          width: 20px;
        }

      }
    }

    li.header {
      padding: 15px 20px;
      font-size: 1em;
    }

    li > a > .fa-angle-left,
    li > a > .pull-right-container > i {
      width: auto;
      height: auto;
      padding: 0;
      margin-right: 10px;
      float: right;
    }

    li > a > .fa-angle-left {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -8px;
    }

    li.active > a > .pull-right-container {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }

    li.active > .treeview-menu {
      display: block;
      padding-left: 60px;
    }

    .treeview-menu {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
      & > li {

        & > a {
          padding: 1px 0 1px 5px;
          display: block;
          font-size: 0.9em;
          border-style:solid;
          border-color:#fff;
          border-width: 0 0 0 4px;
          line-height:0.9em;


          & > .fa,
          & > .glyphicon,
          & > .ion {
            width: 20px;
          }

          & > .pull-right-container > .fa-angle-left,
          & > .pull-right-container > .fa-angle-down,
          & > .fa-angle-left,
          & > .fa-angle-down {
            width: auto;
          }

        }
      }
      .item{
        a{
          font-size: 0.8em;
          line-height: 0.1em !important;
        }

      }

    }


    .treeview-menu{
      &:last-child, &:only-child {
        padding-bottom: 5px;
      }
    }

    .treeview.active {
      .pull-right-container i {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
      .treeview-menu {
        display: block;
      }
    }

  }

  .TOBELETEDEDui.secondary.inverted.menu a.item {
    color: white;
  }

  .TOBEDELETEDui.inverted.menu {
    .active.item {
      background: #e0e1e2 none !important;
      color: #202A43 !important;
      border-top-left-radius: 1em !important;
      border-bottom-left-radius: 1em !important;
      animation: fadein 1s;
      -moz-animation: fadein 1s; /* Firefox */
      -webkit-animation: fadein 1s; /* Safari and Chrome */
      -o-animation: fadein 1s; /* Opera */
    }
  }

  .treeview-menu > li > a {
    color: #35618c;
  }

  .treeview-menu > li.active > a, .treeview-menu > li > a:hover {
    color: #000;
  }

  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;

    input[type="text"], .sidebar-form .btn {
      box-shadow: none;
      background-color: #2b500f;
      border: 1px solid transparent;
      height: 35px;
    }

    input[type="text"] {
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
    }

    input[type="text"]:focus, .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
      background-color: #fff;
      color: #666
    }

    input[type="text"]:focus + .input-group-btn .btn {
      border-left-color: #fff
    }

    .btn {
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0
    }
  }

  .layout-top-nav {
    .main__header > .logo {
      background-color: #3c8dbc;
      color: #fff;
      border-bottom: 0 solid transparent
    }
    .main__header > .logo:hover {
      background-color: #3b8ab8
    }

  }

  .ui.vertical.inverted.menu .item:before {
    background-color: rgba(255, 255, 255, 0);
  }

  .ui.thin.left.sidebar, .ui.thin.right.sidebar {
    width: 95px !important;
  }
}

.layout_wrapper{
  -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  margin-left: 230px;
  width:100%;
}



//MOBILE SCREENS
@media (max-width: 767px){


  //MOBILE-OPEN-HIDDEN
  .layout.open_hidden{
    .sidebar_wrapper {
      -webkit-transform: translate(-230px, 0);
      -ms-transform: translate(-230px, 0);
      -o-transform: translate(-230px, 0);
      transform: translate(-230px, 0);
    }
    .layout_wrapper, .content_wrapper.open_hidden .main__header {
      -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
      -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
      -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
      transition: transform .3s ease-in-out,margin .3s ease-in-out;
      margin-left: 0 !important;
      z-index: 820;
    }
  }


  //MOBILE-COLLAPSE
  .layout.collapse{
    .sidebar_wrapper {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    .layout_wrapper, .main__header {
      -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
      -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
      -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
      transition: transform .3s ease-in-out,margin .3s ease-in-out;
      margin-left: 230px !important;
      z-index: 820;
    }
  }
}




//DESKTOP SCREENS
@media (min-width: 768px){


  //DESKTOP-OPEN-VISIBLE
  .layout.open{
    .sidebar_wrapper {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    .layout_wrapper, .main__header {
      -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
      -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
      -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
      transition: transform .3s ease-in-out,margin .3s ease-in-out;
      margin-left: 130px !important;
      //z-index: 820;
    }

  }


  //DESKTOP-COLLAPSED-HIDDEN

  .layout.collapse{


    .sidebar_wrapper {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      width: 50px !important;

      .sidebar-menu > li > a {
        border-left-width:5px;
        padding: 10px 5px 10px 15px;
        display: block;
        font-size: 1.2em;
      }
      .sidebar-menu > li.header {
        color: #ccc;
        border-left-width:3px;
        //margin-bottom: 30px;
      }
      .logo {
        border-left-width:3px;
      }
    }

    .layout_wrapper, .main__header {
      -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
      -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
      -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
      transition: transform .3s ease-in-out,margin .3s ease-in-out;
      margin-left: 50px !important;
      //z-index: 820;
    }

    .sidebar-menu>li>a>span{
      display:none !important;
    }

    .sidebar-menu>li>.treeview-menu {
      border-bottom-right-radius: 4px;
      position: fixed;
      right:100px;
      display:none;
      //dissapear when closing
      a{
        display: none;
      }


    }
    .sidebar-menu > li > a > div span {
      display: none;
    }

  }


}