#root {
  display: flex;
  background-color: yellow;
  height: 100%; }

.layout {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  flex: 1; }

.header_wrapper {
  background-color: antiquewhite;
  flex: 1; }

.content_wrapper {
  display: flex;
  flex: 9;
  background-color: beige; }
  .content_wrapper .sidebar_wrapper {
    flex: 1;
    background-color: #46f54e; }
  .content_wrapper .panel_wrapper {
    display: flex;
    flex: 5;
    background-color: #f5c2c8; }
  .content_wrapper .filter_wrapper {
    flex: 1;
    background-color: #92e5f5; }
