#root {
  display: flex;
  height: 100%; }

.layout {
  display: flex;
  flex-direction: column;
  flex: 1; }

.header_wrapper {
  flex: 1; }

.content_wrapper {
  display: flex;
  flex: 9; }
  .content_wrapper .panel_wrapper {
    display: flex;
    height: 100% !important; }
  .content_wrapper .filter_wrapper {
    flex: 1;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 6px 0 0 6px;
    display: none; }

.panel_wrapper {
  min-height: 50%;
  height: 90% !important;
  position: relative !important;
  padding: 10px 10px 0 0;
  display: grid; }
  .panel_wrapper .card {
    border: 0 !important;
    padding: 35px !important;
    box-shadow: none !important; }
  .panel_wrapper .header {
    font-weight: 100 !important;
    color: #666 !important; }

.sidebar_wrapper {
  position: absolute;
  left: 0;
  overflow: hidden;
  min-height: 100%;
  width: 230px;
  -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
  transition: transform .3s ease-in-out, width .3s ease-in-out;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  /* Old browsers */
  z-index: 10; }
  .sidebar_wrapper i {
    line-height: 2;
    margin-right: 10px !important; }
  .sidebar_wrapper .logo {
    color: #BDBEBF;
    height: 70px;
    background-position-x: 35%;
    background-position-y: 50%;
    background-size: 120px;
    padding-top: 10px;
    border-style: solid;
    border-bottom-color: rgba(34, 36, 38, 0.15);
    border-left-color: #bfcfda;
    border-width: 0 0 0 7px; }
    .sidebar_wrapper .logo:hover {
      height: 70px; }
  .sidebar_wrapper .sidebar a {
    color: #49627b;
    font-size: 0.9em;
    cursor: pointer; }
  .sidebar_wrapper .sidebar a:hover {
    text-decoration: none; }
  .sidebar_wrapper .sidebar .content {
    font-size: 0.8em;
    opacity: 0.8; }
  .sidebar_wrapper .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .sidebar_wrapper .sidebar-menu > li:hover > a, .sidebar_wrapper .sidebar-menu > li.active > a {
      color: #000;
      background: #fff;
      border-left-color: #b4b0b0; }
    .sidebar_wrapper .sidebar-menu > li.header {
      color: #ccc; }
    .sidebar_wrapper .sidebar-menu > li {
      position: relative;
      margin: 0;
      padding: 0; }
      .sidebar_wrapper .sidebar-menu > li .label,
      .sidebar_wrapper .sidebar-menu > li .badge {
        margin-right: 5px; }
      .sidebar_wrapper .sidebar-menu > li .badge {
        margin-top: 3px; }
      .sidebar_wrapper .sidebar-menu > li > .treeview-menu {
        margin: 0 1px;
        background: rgba(0, 0, 0, 0.03); }
      .sidebar_wrapper .sidebar-menu > li > a {
        border-left: 7px solid #bfcfda;
        padding: 5px 5px 5px 15px;
        display: flex;
        font-size: 1em;
        justify-content: space-between;
        align-items: center; }
        .sidebar_wrapper .sidebar-menu > li > a > div {
          display: flex;
          flex: 1; }
          .sidebar_wrapper .sidebar-menu > li > a > div span {
            padding-left: 10px; }
        .sidebar_wrapper .sidebar-menu > li > a > .fa, .sidebar_wrapper .sidebar-menu > li > a > li > a > .glyphicon, .sidebar_wrapper .sidebar-menu > li > a > li > a > .ion {
          text-align: center; }
        .sidebar_wrapper .sidebar-menu > li > a > .fa,
        .sidebar_wrapper .sidebar-menu > li > a > .glyphicon,
        .sidebar_wrapper .sidebar-menu > li > a > .ion {
          width: 20px; }
    .sidebar_wrapper .sidebar-menu li.header {
      padding: 10px 25px 10px 15px;
      font-size: 1em; }
    .sidebar_wrapper .sidebar-menu li > a > .fa-angle-left,
    .sidebar_wrapper .sidebar-menu li > a > .pull-right-container > i {
      width: auto;
      height: auto;
      padding: 0;
      margin-right: 10px;
      float: right; }
    .sidebar_wrapper .sidebar-menu li > a > .fa-angle-left {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -8px; }
    .sidebar_wrapper .sidebar-menu li.active > a > .pull-right-container {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .sidebar_wrapper .sidebar-menu li.active > .treeview-menu {
      display: block;
      padding-left: 30px; }
    .sidebar_wrapper .sidebar-menu .treeview-menu {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0; }
      .sidebar_wrapper .sidebar-menu .treeview-menu > li > a {
        padding: 1px 0 1px 5px;
        display: block;
        font-size: 0.9em;
        border-style: solid;
        border-color: #fff;
        border-width: 0 0 0 4px; }
        .sidebar_wrapper .sidebar-menu .treeview-menu > li > a > .fa,
        .sidebar_wrapper .sidebar-menu .treeview-menu > li > a > .glyphicon,
        .sidebar_wrapper .sidebar-menu .treeview-menu > li > a > .ion {
          width: 20px; }
        .sidebar_wrapper .sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-left,
        .sidebar_wrapper .sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-down,
        .sidebar_wrapper .sidebar-menu .treeview-menu > li > a > .fa-angle-left,
        .sidebar_wrapper .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
          width: auto; }
    .sidebar_wrapper .sidebar-menu .treeview:last-child, .sidebar_wrapper .sidebar-menu .treeview:only-child {
      padding-bottom: 1px; }
    .sidebar_wrapper .sidebar-menu .treeview.active .pull-right-container i {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .sidebar_wrapper .sidebar-menu .treeview.active .treeview-menu {
      display: block; }
  .sidebar_wrapper .ui.secondary.inverted.menu a.item {
    color: white; }
  .sidebar_wrapper .ui.inverted.menu .active.item {
    background: #e0e1e2 none !important;
    color: #202A43 !important;
    border-top-left-radius: 1em !important;
    border-bottom-left-radius: 1em !important;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
    /* Opera */ }
  .sidebar_wrapper .treeview-menu > li > a {
    color: #35618c; }
  .sidebar_wrapper .treeview-menu > li.active > a, .sidebar_wrapper .treeview-menu > li > a:hover {
    color: #000; }
  .sidebar_wrapper .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px; }
    .sidebar_wrapper .sidebar-form input[type="text"], .sidebar_wrapper .sidebar-form .sidebar-form .btn {
      box-shadow: none;
      background-color: #2b500f;
      border: 1px solid transparent;
      height: 35px; }
    .sidebar_wrapper .sidebar-form input[type="text"] {
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px; }
    .sidebar_wrapper .sidebar-form input[type="text"]:focus, .sidebar_wrapper .sidebar-form .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
      background-color: #fff;
      color: #666; }
    .sidebar_wrapper .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
      border-left-color: #fff; }
    .sidebar_wrapper .sidebar-form .btn {
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0; }
  .sidebar_wrapper .layout-top-nav .main__header > .logo {
    background-color: #3c8dbc;
    color: #fff;
    border-bottom: 0 solid transparent; }
  .sidebar_wrapper .layout-top-nav .main__header > .logo:hover {
    background-color: #3b8ab8; }
  .sidebar_wrapper .ui.vertical.inverted.menu .item:before {
    background-color: rgba(255, 255, 255, 0); }
  .sidebar_wrapper .ui.thin.left.sidebar, .sidebar_wrapper .ui.thin.right.sidebar {
    width: 95px !important; }

.panel_wrapper {
  -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  margin-left: 230px; }

@media (max-width: 767px) {
  .content_wrapper.open_hidden .sidebar_wrapper {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
    background-color: #46f54e; }
  .content_wrapper.open_hidden .panel_wrapper, .content_wrapper.open_hidden .content_wrapper.open_hidden .main__header {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 0 !important;
    z-index: 820; }
  .content_wrapper.collapse .sidebar_wrapper {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    background-color: #ff0000; }
  .content_wrapper.collapse .panel_wrapper, .content_wrapper.collapse .main__header {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px !important;
    z-index: 820; } }

@media (min-width: 768px) {
  .content_wrapper.open .sidebar_wrapper {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    background-color: #00ffff; }
  .content_wrapper.open .panel_wrapper, .content_wrapper.open .main__header {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 130px !important; }
  .content_wrapper.collapse .sidebar_wrapper {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    background-color: rgba(255, 255, 255, 0.5); }
    .content_wrapper.collapse .sidebar_wrapper .sidebar-menu > li > a {
      border-left-width: 3px;
      padding: 10px 5px 10px 15px;
      display: block;
      font-size: 1.2em; }
    .content_wrapper.collapse .sidebar_wrapper .sidebar-menu > li.header {
      color: #ccc;
      border-left-width: 3px; }
    .content_wrapper.collapse .sidebar_wrapper .logo {
      border-left-width: 3px; }
  .content_wrapper.collapse .panel_wrapper, .content_wrapper.collapse .main__header {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 50px !important; }
  .content_wrapper.collapse .sidebar-menu > li > a > span {
    display: none !important; }
  .content_wrapper.collapse .sidebar-menu > li > .treeview-menu {
    border-bottom-right-radius: 4px;
    position: fixed;
    right: 100px;
    display: none; }
    .content_wrapper.collapse .sidebar-menu > li > .treeview-menu a {
      display: none; }
  .content_wrapper.collapse .sidebar-menu > li > a > div span {
    display: none; } }
