.start {
  /*main container*/
  /*subcontainer*/
  /*/subcomntainers childrens*/
  /* Content box*/ }
  .start .category {
    display: flex; }
    .start .category .iconator {
      padding: 0 10px; }
  .start body {
    padding: 50px; }
  .start .name-box {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%; }
  .start a {
    position: absolute;
    left: 0;
    top: 0;
    color: deepskyblue;
    display: block;
    text-align: center;
    text-decoration: none;
    z-index: 20; }
  .start .name:first-child a {
    border-top: none;
    top: 25px;
    left: 25px;
    color: yellow; }
  .start .name:nth-child(2) a {
    color: orange;
    top: 50px;
    left: 50px; }
    .start .name:nth-child(2) a:hover {
      color: #CCC; }
  .start .name:nth-child(3) a {
    top: 75px;
    left: 75px;
    color: red; }
  .start .name:nth-child(4) a {
    top: 100px;
    left: 100px;
    color: purple; }
  .start .name:nth-child(5) a {
    top: 125px;
    left: 125px;
    color: dodgerblue; }
  .start .name:nth-child(6) a {
    top: 150px;
    left: 150px;
    color: aqua; }
  .start .name:nth-child(7) a {
    top: 175px;
    left: 175px;
    color: green; }
  .start .floors {
    height: 301px;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    display: none;
    background-size: 100%;
    opacity: 0.5;
    background-image: url("../../components/assets/images/placeholder/exports/se_0.jpg");
    z-index: 10; }
  .start .name:nth-child(2) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_1.jpg"); }
  .start .name:nth-child(3) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_2.jpg"); }
  .start .name:nth-child(4) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_3.jpg"); }
  .start .name:nth-child(5) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_4.jpg"); }
  .start .name:nth-child(6) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_5.jpg"); }
  .start a:hover + .floors,
  .start img:hover {
    display: block; }
