.start{

  .cat_0{
    position:relative;
    left:50px;
    top:50px;
  }
  .cat_1{
    position:relative;
    left:90px;
    top:75px;
  }
  .cat_2{
    position:relative;
    left:200px;
    top:60px;
  }
  .cat_3{
    position:relative;
    left:300px;
    top:60px;
  }
  .cat_4{
    position:relative;
    left:200px;
    top:100px;
  }
  .cat_5{
    position: relative;
    left: 0;
    top: 0;
  }
  .cat_6{
    position: relative;
    left: 0;
    top: 100px;
  }


  .category{
    display: flex;
    padding:20px;


    .iconator{
      padding:0 10px;
    }
  }
}
