.start{

  .category{
    display: flex;
    //padding:20px;


    .iconator{
      padding:0 10px;
    }
  }

  body {
    padding: 50px;
  }
  /*main container*/
  .name-box {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
  }
  /*subcontainer*/
  //.name {
  //  font: bold 16px/100px sans-serif;
  //  height: 100px;
  //}

  a {
    position: absolute;
    left: 0;
    top: 0;
    color: deepskyblue;
    display: block;
    text-align: center;
    text-decoration: none;
    z-index: 20;
  }
  /*/subcomntainers childrens*/
  .name:first-child a{
    border-top: none;
    top: 25px;
    left:25px;
    color:yellow;
  }
  .name:nth-child(2) a {
    color: orange;
    top: 50px;
    left:50px;

    &:hover {
      color: #CCC;
    }
  }
  .name:nth-child(3) a{
    top: 75px;
    left:75px;
    color:red;
  }
  .name:nth-child(4) a{
    top: 100px;
    left:100px;
    color:purple;
  }
  .name:nth-child(5) a{
    top: 125px;
    left:125px;
    color:dodgerblue;
  }
  .name:nth-child(6) a{
    top: 150px;
    left:150px;
    color: aqua;
  }
  .name:nth-child(7) a{
    top: 175px;
    left:175px;
    color: green;
  }


  /* Content box*/
  //img {
  //  background: red;
  //  display: none;
  //  height: 301px;
  //  position: absolute;
  //  right: 0;
  //  top: 0;
  //  width: 200px;
  //}
  .floors{

    height: 301px;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    display:none;
    background-size: 100%;
    opacity: 0.5;
    background-image: url('../../components/assets/images/placeholder/exports/se_0.jpg');
    z-index: 10;

  }

  .name:nth-child(2) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_1.jpg');
  }
  .name:nth-child(3) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_2.jpg');
  }
  .name:nth-child(4) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_3.jpg');
  }
  .name:nth-child(5) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_4.jpg');
  }
  .name:nth-child(6) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_5.jpg');
  }

  a:hover + .floors,
  img:hover {
    display: block;
  }

}
