.start .cat_0 {
  position: relative;
  left: 50px;
  top: 50px; }

.start .cat_1 {
  position: relative;
  left: 90px;
  top: 75px; }

.start .cat_2 {
  position: relative;
  left: 200px;
  top: 60px; }

.start .cat_3 {
  position: relative;
  left: 300px;
  top: 60px; }

.start .cat_4 {
  position: relative;
  left: 200px;
  top: 100px; }

.start .cat_5 {
  position: relative;
  left: 0;
  top: 0; }

.start .cat_6 {
  position: relative;
  left: 0;
  top: 100px; }

.start .category {
  display: flex;
  padding: 20px; }
  .start .category .iconator {
    padding: 0 10px; }
