.start{

  .category{
    display:flex;
    flex-direction: row;
    align-items:center;

    .iconator{
      padding:0 10px;
    }
    &.right{
      flex-direction: row-reverse;
    }
  }

  body {
    padding: 50px;
  }
  /*main container*/
  .name-box {
    display: inline-block;
    height: 100%;
    width: 100%;

  }

  /*subcontainer*/
  //.name {
  //  font: bold 16px/100px sans-serif;
  //  height: 100px;
  //}

  a {
    position: absolute;
    left: 0;
    top: 0;
    color: #6d6d6d;
    display: block;
    text-align: center;
    text-decoration: none;
    z-index: 20;

    &:hover {
      color: #000;
    }
  }
  /*/subcomntainers childrens*/
  .name:first-child a{
    border-top: none;
    top: 70px;
    left: -10px;
    //color:yellow;
  }
  .name:nth-child(2) a {
    top: 145px;
    left:-20px;
  }
  .name:nth-child(3) a{
    top: 220px;
    left: 70px;
    //color:red;
  }
  .name:nth-child(4) a{
    top: 292px;
    left: 70px;
    //color:purple;
  }
  .name:nth-child(5) a{
    top: 365px;
    left: 100px;
    //color:dodgerblue;
  }
  .name:nth-child(6) a{
    top: 180px;
    left: 300px;
    //color: aqua;
  }
  .name:nth-child(7) a{
    top: 235px;
    left: 340px;
    //color: green;
  }

  //.name-box::after{
  //  content: '';
  //  height: 301px;
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  width: 200px;
  //  background-size: 100%;
  //  opacity: 1;
  //  background-image: url('../../components/assets/images/placeholder/exports/se_none.jpg');
  //  z-index: 1;
  //}

  .floors_position{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 30% 50%;
    opacity: 1;
    background-image: url('../../components/assets/images/placeholder/exports/se.jpg');
    z-index: 10;

  }



  .floors{
    //display:none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear;
  }

  .name:nth-child(1) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_0.jpg') !important;
  }
  .name:nth-child(2) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_1.jpg') !important;
  }
  .name:nth-child(3) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_2.jpg') !important;
  }
  .name:nth-child(4) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_3.jpg') !important;
  }
  .name:nth-child(5) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_4.jpg') !important;
  }
  .name:nth-child(6) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_5.jpg') !important;
  }
  .name:nth-child(7) .floors {
    background-image: url('../../components/assets/images/placeholder/exports/se_6.jpg') !important;
  }

  a:hover + .floors{
    //display: block;
    visibility: visible;
    opacity: 1;

  }


}
