.start{

  .cat_0{
    position:relative;
    left:50px;
    top:50px;
  }
  .cat_1{
    position:relative;
    left:90px;
    top:75px;
  }
  .cat_2{
    position:relative;
    left:200px;
    top:60px;
  }
  .cat_3{
    position:relative;
    left:300px;
    top:60px;
  }
  .cat_4{
    position:relative;
    left:200px;
    top:100px;
  }
  .cat_5{
    position: relative;
    left: 0;
    top: 0;
  }
  .cat_6{
    position: relative;
    left: 0;
    top: 100px;
  }


  .category{
    display: flex;
    padding:20px;


    .iconator{
      padding:0 10px;
    }
  }
}


.example {
  width: 800px;
  display: flex;
  margin: 0 auto;
  font-family: Arial;
}

.example__guide {
  flex: 1;
  margin: auto;
  padding-right: 20px;
  line-height: 1.3;
}

.example__observer {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  border: solid 1px #C5CAE9;
  border-radius: 4px;
  transition: border .2s ease-in-out;
  background-color: yellow;
}

.example__observer:hover {
  border-color: #3F51B5;
}

.example__label {
  flex: 1;
  margin: auto;
  padding-left: 20px;
}
