.start {
  /*main container*/
  /*subcontainer*/
  /*/subcomntainers childrens*/
  /*/subcomntainers childrens HOVER*/
  /* Content box*/ }
  .start .category {
    display: flex; }
    .start .category .iconator {
      padding: 0 10px; }
  .start body {
    padding: 50px; }
  .start .name-box {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%; }
  .start .name {
    font: bold 16px/100px sans-serif;
    height: 100px; }
  .start a {
    position: absolute;
    left: 0;
    top: 0;
    color: grey;
    display: block;
    text-align: center;
    text-decoration: none;
    z-index: 20; }
  .start .name:first-child a {
    border-top: none; }
  .start .name:nth-child(2) a {
    color: grey;
    top: 100px; }
  .start .name:nth-child(3) a {
    color: grey;
    top: 150px; }
  .start .name:nth-child(4) a {
    color: grey;
    top: 200px;
    right: 200px; }
  .start .name:nth-child(5) a {
    color: grey;
    top: 250px; }
  .start .name:nth-child(6) a {
    color: grey;
    top: 300px; }
  .start .name:nth-child(7) a {
    color: grey;
    top: 350px; }
  .start a:hover {
    color: #CCC; }
  .start .name:nth-child(2) a:hover {
    color: #CCC; }
  .start .name:nth-child(3) a:hover {
    color: #CCC; }
  .start .floors {
    height: 301px;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    display: none;
    background-size: 100%;
    opacity: 0.5;
    background-image: url("../../components/assets/images/placeholder/exports/se_0.jpg");
    z-index: 10; }
  .start .name:nth-child(2) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_1.jpg"); }
  .start .name:nth-child(3) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_2.jpg"); }
  .start .name:nth-child(4) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_3.jpg"); }
  .start .name:nth-child(5) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_4.jpg"); }
  .start .name:nth-child(6) .floors {
    background-image: url("../../components/assets/images/placeholder/exports/se_5.jpg"); }
  .start a:hover + .floors,
  .start img:hover {
    display: block; }
