
#root{
  display:flex;
  background-color: yellow;
  height:100%;
}

.layout{
  background-color: aliceblue;
  display:flex;
  flex-direction: column;
  flex:1;

}

.header{
  background-color: antiquewhite;
  flex:1;
}

.content{
  display:flex;
  flex:9;
  background-color: beige;
  .sidebar{
    flex:1;
    background-color: #f54794;
  }
}

.content .panel{
  flex:5;
  background-color: #f5c2c8;
}
.content .filter{
  flex:1;
  background-color: #92e5f5;
}

.footer{
  flex:1;
  background-color: #d3f593;

}

