@charset "utf-8";

// Utilities
$background-gradient-color1 : #F5F5F5;
$background-gradient-color2 : #FFFFFF;


$white: #FFFFFF;
$media-red: #E91D00;
$media-red-dark: #CE1312;
$media-gray: #E8E8E8;
$media-gray-light: #F8F8F8;
$media-bg: #F1F1F1;
$media-text-color: #333333;
$media-blue: #167AC6;
$header-height: 56px;
$highlight-color: #f1ff0f;
$shadow-color: rgba(0, 0, 0, .1);


@font-face {
  font-family: OpenSans;
  src: url(/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSansCondensed;
  src: url(/fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;

}

a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}


.fw-a{font-weight:200}
.fw-b{font-weight:400}
.fw-c{font-weight:700}




html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient( to left top, $background-gradient-color1, $background-gradient-color2);
  background: -moz-linear-gradient( to left top, $background-gradient-color1, $background-gradient-color2);
  background: -ms-linear-gradient( to left top, $background-gradient-color1, $background-gradient-color2);
  background: -o-linear-gradient( to left top, $background-gradient-color1, $background-gradient-color2);
  background: linear-gradient( to left top, $background-gradient-color1, $background-gradient-color2);

}


body{
  font-family: 'OpenSans','helvetica',sans-serif;
  background-color: transparent !important;

}
.mainFont{font-family: 'OpenSans','helvetica',sans-serif;}

a {
  color: $media-text-color;
}

hr {
  margin: 10px 14px;
}
.is-logo {
  float: left;
  margin-left: 18px;
}
.logo {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
  float: left;
  &:hover {
    text-decoration: none;
  }
  i {
    margin-left: 5px;
    color: $media-red;
  }
}

.header-filters {
  z-index: 2;
  height:50px;
  background: url('images/logo.png');
  background-repeat: no-repeat;
  //background-position:left;
  background-size: 180px;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content:flex-end;
  padding:10px 30px;

  .searchbox-container {
    max-width: 50%;

    .input-group {
      margin-top: 5px;
      .form-control {
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .input-group-btn button {
        padding-left: 20px;
        padding-right: 20px;
        background: $media-gray-light;
        border-radius: 0;
      }
    }
  }
}

.navbar-header{
  color:#000 !important;
  font-size:1.7em;
  padding:20px;
}
.version{
  font-size:1.2rem;
  font-style: italic;
  color:#ccc;

}
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}


.main-title{
  max-width:300px
}
.partners{
  max-width:300px;
}

.company{
  width:60px;
  height:60px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #CCCCCC;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.company-name{
  font-size: 0.6em;
  color: #9e9e9e;
  text-align: center;
  min-width: 100%;
  padding: 5px 0 0 0;
}

.hits-box{
  //background-color: $background-gradient-color1;
  background-color: rgba(255, 255, 255, 0.8);
  border-width: 0 0 0 2px ;
  border-color:#4ac7ee;
  border-style: solid;
  border-radius: 0 10px 10px 0;
  padding:20px 20px 100px 20px;
  margin-right:20px;

  h1{
    font-size: 2em;
    font-weight: 100;
    color:#4ac7ee;
  }

  h5{
    font-size: 0.7em;
    font-color: #ccc;
    font-style: italic;
    font-weight: 300;
  }
}

.genre, .year {
  margin: 12px 0;
}

.year {
  font-weight: bold;
}

.genre .badge {
  background: #BBBBBB;
}

.alpha{padding-left:0px;}
.omega{padding-right:0px;}

.social-icons {
  position: fixed;
  bottom: 70px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  color: #CCC;
  border-radius: 20px 0 0 20px;
  padding: 30px 10px 30px 10px;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  font-weight: 200;

}
//__________________________________________________
//SIDENAV
//__________________________________________________

.sidenav-trigger{
  position:fixed;
  top:70px;
  right:0;
  background-color:rgba(0, 0, 0, 0.2);
  color:#fff;
  border-radius: 20px 0 0 20px;
  padding:30px 10px 30px 10px;
  font-size:0.8em;
  letter-spacing: 1.5px;
  font-weight: 200;


  .rotated-text {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
  }
  .rotated-text__inner {
    display: inline-block;
    white-space: nowrap;
    /* this is for shity "non IE" browsers
       that dosn't support writing-mode */
    -webkit-transform: translate(1.1em,0) rotate(90deg);
    -moz-transform: translate(1.1em,0) rotate(90deg);
    -o-transform: translate(1.1em,0) rotate(90deg);
    transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    /* IE9+ */
    -ms-transform: none;
    -ms-transform-origin: none;
    /* IE8+ */
    -ms-writing-mode: tb-rl;
    /* IE7 and below */
    *writing-mode: tb-rl;
  }
  .rotated-text__inner:before {
    content: "";
    float: left;
    margin-top: 100%;
  }

}


.sidenav{
  height: 88%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 70px;
  right: 0;
  background-color:rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 20px 0 0 20px;

    a {
      padding: 5px 0px 5px 0px;
      text-decoration: none;
      font-size: 11px;
      color: #fff;
      display: block;
      transition: 0.3s;

    }

    a:hover, .offcanvas a:focus{
      color: #000;
    }

    .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    }

    ul {
      position:absolute;
      bottom:10px;
      width:100%;

      a{
        padding-left:30px;
      }

    }

   .filter-box{
      font-size: 0.9em;
      padding: 5px 20px 5px 30px;
      color:white;
      border: 3px solid #acacac;
      border-width: 0 0 1px 0;

      h5{
        color:#CCC;
        font-size:0.6em;
        margin-left:-20px;

      }
      .ais-search-box--input {
        padding-left: 14px;
      }

      .ais-refinement-list--label{
        display: block;

      }
      .badge{
        font-size:0.8em;
      }

    }
}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

//__________________________________________________
//CUSTOM
//__________________________________________________

.ais-hits--item {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}


.q-title{
  font-size: 1.3em;
  line-height: 1.4em;
}

.label{border-radius: 7px; margin:0 2px; font-size: 0.5em; height:15px;}
.label-1{background-color: #5dbb58;}
.label-2{background-color: #04b3cf;}
.label-3{background-color: #e8a250;}
.label-4{background-color: #7a6baa;}
.label-plus{background-color: #8b93b3; color: #FFF;}

.q-lang{
  float:right;
  font-size:0.9em;
  color:lightgrey;
}
.q-preview-text{
  font-size:0.6em;
  color:#CCC;
  line-height: 1.6em;
}
.icon-right-pad{
  padding:0 15px 0 5px ;
}

.timeline-center{

  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2'><circle cx='2' cy='2' r='2' /></svg>")  no-repeat;
  background-repeat: repeat-y;
  background-position: center;

}


.q-variation{
  background-color: #FAFAFA;
  padding: 5px 20px 10px 30px;
  margin: 10px 15px 0 10px;
  border-radius: 50px 50px 0 50px;
  font-size: 0.7em;
  color: #8b93b3;
  line-height: 0.9em;
}

.q-variation .title{
  font-size: 0.7em;
  font-style: italic;
  opacity: .7;
}

.q-variation ul{
  padding-top:6px;
}



//__________________________________________________
//DROPDOWN MENU
//__________________________________________________\

.dropdown {
  list-style:none outside none;
  margin:0;
  padding:0
}

.dropdown li {

  border:1px solid #FFF;
  background-color: white;
  display:block;
  float:left;
  position:relative;
  z-index:500;
  margin:0 1px;
  width:100%;
  color:#0000FF;
}

.dropdown li a {
  display:block;
  height:auto;
  text-decoration:none;
  text-align:left;
  color:#CCC;
  font-size:1.1em;
  width:100%;
}

.dropdown li a:hover {
  color:#fff;
  padding-left:30px;
}

.dropdown a.selected {
  color:#FFF;
}

.dropdown ul {
  list-style:none outside none;
  position:absolute;
  display:none;
  left:0;
  padding:0

}

.dropdown ul li {
  width:auto;
  float:left;
  margin:1px 0 0

}

.dropdown ul a {
  display:block;
  height:auto;
  color:#000;
  padding:8px 5px;
  border: 1px dotted #666;
  font-size: 1em;
}

.dropdown ul a:hover {
  text-decoration:none;
}

.dropdown li:hover {
  background:#000;
}


//++FINISH CUSTOM



//THE SVG CONTAINER

.responsive-svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}