/*PHONE*/
@media only screen {
  .header {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 30px; }
    .header .logos {
      display: flex; }
      .header .logos div {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 90%;
        height: 40px;
        padding: 10px 0; }
        .header .logos div.partner1 {
          background-image: url(../assets/images/brand/cncf.png);
          min-width: 200px; }
        .header .logos div.partner2 {
          background-image: url(../assets/images/brand/redpoint.png);
          min-width: 100px; }
        .header .logos div.partner3 {
          background-image: url(../assets/images/brand/amplify.png);
          min-width: 80px; }
  .title {
    position: fixed;
    top: 20px;
    left: 40px;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    color: #6d7e90 !important;
    align-items: flex-end; }
    .title p {
      color: #CCC;
      font-size: 0.6em; } }

/*TABLET*/
/*DESKTOP*/
