/*PHONE*/
@media only screen {
  .header_container {
    display: flex;
    align-items: center;
    left: 0;
    position: fixed;
    width: 100%; }
    .header_container .header {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 15px 30px; }
      .header_container .header .logos {
        display: flex; }
        .header_container .header .logos div {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 90%;
          height: 40px;
          padding: 10px 0; }
          .header_container .header .logos div.partner1 {
            background-image: url(../assets/images/brand/cncf.png);
            min-width: 200px; }
          .header_container .header .logos div.partner2 {
            background-image: url(../assets/images/brand/redpoint.png);
            min-width: 100px; }
          .header_container .header .logos div.partner3 {
            background-image: url(../assets/images/brand/amplify.png);
            min-width: 80px; }
    .header_container .title {
      display: flex;
      flex-direction: column;
      font-size: 1.3em;
      color: #6d7e90 !important;
      align-items: flex-end;
      padding: 30px 30px; }
      .header_container .title a {
        color: #949494; }
      .header_container .title p {
        color: #CCC;
        font-size: 0.6em; } }

@media only screen and (max-width: 767px) {
  .header_container {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 0; }
    .header_container .header {
      padding: 10px 20px 0 0; }
      .header_container .header .logos div {
        background-size: 70%; }
    .header_container .title {
      padding: 10px 37px; } }

/*TABLET*/
/*DESKTOP*/
